<div>
  <h1>My Tasks</h1>
  <!--<button type="button" [routerLink]="/crud/create/">Create new product</button>-->

  <mat-card *ngFor="let task of tasks">
    <mat-card-title>Task {{task.id}} - {{task.title}}</mat-card-title>
    <mat-card-content>{{task.description}}</mat-card-content>
    <mat-card-footer>{{task.status}}, Priority {{task.priority}}</mat-card-footer>
    <!--<button type="button" [routerLink]="['/crud/update/', note.id]">Update</button>-->
    <button mat-raised-button type="button" (click)="taskService.delete(task.id)">Remove</button>
  </mat-card>
</div>
