<mat-toolbar class="top-toolbar">
  <form class="search-form" (ngSubmit)="onSubmit(pesquisaControl.value)">
    <button mat-icon-button class="search-button">
      <mat-icon>
        search
      </mat-icon>
    </button>
    <input class="search-input"
           type="text"
           placeholder="Pesquise por suas Memory Boxes ou tarefas aqui!"
           [formControl]="pesquisaControl"
           [matAutocomplete]="auto">

  </form>
</mat-toolbar>
<mat-autocomplete class="test" #auto="matAutocomplete">
  <mat-option class='search-autocomplete' *ngFor="let memoryBox of filteredMemoryBoxes | async" [value]="memoryBox.title">{{memoryBox.title}}</mat-option>
</mat-autocomplete>
