.top-toolbar {
  background: #30343F;
}

.search-button {
  color: azure;
  position: absolute;
  left: 3rem;
  top: 0.5rem;
  cursor: pointer;
}

.search-autocomplete {
  font-family: "Titillium Web", sans-serif;
}

.mat-mdc-unelevated-button {
  margin-left: 2rem;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.18rem;
  text-align: center;
}

.search-input {
  color: azure;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.18rem;
  text-align: center;
  padding: 0.2rem;
  margin-left: 2rem;


  border-style: none;
  border-radius: 5rem;
  background: #1E1E24;
  width: 43rem;
  height: 2rem;
}

