<mat-toolbar class="top-toolbar">
  <ng-content></ng-content>
  <form class="search-form" (ngSubmit)="onSubmit(pesquisaControl.value)">
    <button mat-icon-button class="search-button">
      <mat-icon>
        search
      </mat-icon>
    </button>
    <input class="search-input"
           type="text"
           placeholder="Pesquise por suas Memory Boxes aqui!"
           [formControl]="pesquisaControl"
           [matAutocomplete]="auto">
  </form>
  <div>
    <button mat-icon-button>
      <mat-icon>
        notifications_none
      </mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>
        person_outline
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button id="edit" mat-menu-item (click)="openEditDialog()">
        <mat-icon>build</mat-icon>
        <span>Alterar dados</span>
      </button>
      <button id="logout" mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>
<mat-autocomplete
  class="{{CSSClasses}}"
  #auto="matAutocomplete"
  (opened)="onOpened()"
  (closed)="onClosed()">
  <mat-optgroup [label]="firstoption" class='search-autocomplete-options'>
    <mat-option
      class='search-autocomplete-options'
      *ngFor="let memoryBox of filteredMemoryBoxes | async"
      [value]="memoryBox.title">
      {{memoryBox.title}}
    </mat-option>
  </mat-optgroup>
</mat-autocomplete>
