#memorybox-listing-container {
  padding-top: 1rem;
  padding-left: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

mat-divider {
  background-color: #9593D9;
}

.memorybox-card {
  max-width: 15.45rem;
  max-height: 17.45rem;
  border-radius: 0.8rem;
}
