<app-sidenav>
  <span slot="list" *ngIf="memorybox">
    <mat-nav-list class="tags-list">
      <div mat-subheader class="tags-header">
        <div class="tags-collapsable">
          Tags
          <button class="collapser" (click)="toggleTags()">
            <mat-icon *ngIf="!isTagsCollapsed; else collapsedButton">
              expand_more
            </mat-icon>
            <ng-template #collapsedButton>
              <mat-icon> chevron_right </mat-icon>
            </ng-template>
          </button>
        </div>
        <button
          class="add-tag-button"
          *ngIf="!isTagsCollapsed"
          (click)="openAddTagDialog()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-divider *ngIf="!isTagsCollapsed"></mat-divider>

      <div *ngIf="!isTagsCollapsed">
        <mat-list-item *ngFor="let tag of memorybox.tags">
          <div class="tag-list">
            <span class="tag-list-item">
              <span
                class="tag-list-item-color"
                [style.color]="tag.color"
                [style.font-size.rem]="2"
                ><b>•</b></span
              >
              {{ tag.title }}</span
            >
            <div class="tag-buttons">
              <button mat-icon-button (click)="openEditTagDialog(tag)">
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="deleteTag(tag)" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </span>
  <span slot="content" *ngIf="memorybox">
    <div id="memorybox-header">
      <h1 *ngIf="!isEditing; else editForm">{{ memorybox.title }}</h1>
      <ng-template #editForm>
        <form>
          <mat-form-field appearance="outline" class="title-input">
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              [formControl]="titleForm"
              required
            >
            </textarea>
            <mat-error *ngIf="titleForm.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </form>
      </ng-template>

      <div class="note-buttons">
        <button mat-icon-button color="warn" (click)="deleteMemoryBox()">
          <mat-icon>delete</mat-icon>
        </button>
        <button
          *ngIf="!isEditing; else confirmEdit"
          mat-icon-button
          color="primary"
          (click)="toggleEditMemoryBox()"
        >
          <mat-icon> edit </mat-icon>
        </button>
        <ng-template #confirmEdit>
          <button
            mat-mini-fab
            color="primary"
            [disabled]="titleForm.invalid"
            (click)="editMemoryBox()"
          >
            <mat-icon> check </mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
    <ng-container>
      <app-task-listing
        [id]="id"
        [memorybox]="memorybox"></app-task-listing>
    </ng-container>
    <ng-container>
      <app-note-listing
        [id]="id"
        [memorybox]="memorybox"></app-note-listing>
    </ng-container>
  </span>
</app-sidenav>
