#memorybox-header {

  display: flex;
  align-items: center;

  & h1 {
    color: #1E1E24;
    margin-right: 2rem;
  }

}

.collapser {
  position: relative;
  padding: 0;
  margin-left: 1rem;
  line-height: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border-style: none;
  border-radius: 100rem;
  color: azure;
  transition-duration: 0.3s;
}

.collapser:hover {
  cursor: pointer;
  background-color: rgba(230, 235, 255, 0.12);
}

.collapser:active {
  background-color: rgba(230, 235, 255, 0.45);
}

mat-divider {
  background-color: azure;
}

.tags-collapsable {
  display: flex;
  align-items: center;
}

.tags-header {
  display: flex;
  align-items: center;
}

.tag-list-item {
  display: flex;
  align-items: center;
}

.tag-buttons {
  margin-left: auto;
}

.add-tag-button {
  margin-left: auto;
  position: relative;
  padding: 0;
  line-height: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border-style: none;
  border-radius: 100rem;
  color: azure;
  transition-duration: 0.3s;
}

.add-tag-button:hover {
  cursor: pointer;
  background-color: rgba(230, 235, 255, 0.12);
}

.add-tag-button:active {
  background-color: rgba(230, 235, 255, 0.45);
}
