<mat-card class="memorybox-card"
          [routerLink]="['/memorybox/', memorybox.id]">
  <div *cdkDragPreview></div>
  <div class="memorybox-banner"></div>
  <div class="memorybox-card-content">
  <mat-card-title>{{memorybox.title}}</mat-card-title>
  <div class="memorybox-tags">
    <mat-card-subtitle>
      <span *ngFor="let tag of tags" class="memorybox-tag">
        <span [style.color] = "tag.color"
              [style.font-size.rem] = "1.4">•</span><span>{{tag.title}}</span>
      </span>
    </mat-card-subtitle>
  </div>
    <div class="memorybox-task">
      <span [style.color] = "taskColor"
            [style.font-size.rem] = "1.4">•</span><span>{{task.title}}</span>
    </div>
    <div class="memorybox-note">
      <span>{{note.content}}</span>
    </div>
  </div>
</mat-card>
