<mat-card class="memorybox-card"
          [routerLink]="['/memorybox/', memorybox.id]">
  <img mat-card-image src="https://static.vecteezy.com/system/resources/thumbnails/021/515/694/small/ai-artificial-intelligence-banner-design-illustration-vector.jpg" alt="Banner Photo">
  <mat-card-title>{{memorybox.title}}</mat-card-title>
  <mat-card-subtitle *ngFor="let tag of tags">
    <span [style.color] = "tag.color"
          [style.font-size.rem] = "2">•</span>
    <span>{{tag.title}}</span>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-card-actions>
      <button mat-button
              *ngFor="let task of tasks">
        {{task.title}}
      </button>
      <button mat-button
              *ngFor="let note of notes">
        {{note.content}}
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
