<mat-sidenav-container autosize>
  <mat-sidenav #drawer
               [fixedInViewport]="true"
               mode="side"
               opened>
    <div class="sidenav-logo">
      <a [routerLink]="['/home']">
        <img ngSrc="assets/img/brainbox.svg" alt="brainbox-logo" height="100" width="100" priority=""/>
      </a>
    </div>
    <ng-content select="[slot=list]"></ng-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar>
      <button class="hamburger-toggler" *ngIf="drawer" (click)="drawer.toggle()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </app-toolbar>
    <div class="page-content">
      <ng-content select="[slot=content]"></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
